@import '../variables/_variables.scss';  


.change-password{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 5rem;
   padding-top: 10rem;

   @media (min-width: 450x) {
      margin: 0 auto;
   }

   h4{
      font-weight: 400;
      margin-right: 4rem;
      margin-bottom: 2rem;

   }

   .back-btn{
      margin-bottom: 4rem;
      margin-right: 16rem;
      padding: 2px 5px;
      display: flex;
      background-color:transparent;
      border:none;
      padding:0 1rem;
      font-size: 0.8rem;
      cursor: pointer;
      .icon{
        margin-top:0.1rem;
      } 
   }

   form {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      gap: 15px;
    }

    label{
      font-weight: 500;
      font-family: $georgia;
      text-align: left;
      span{
        color: red;

      }
    }
    .confirmed-password{
      color: $text1;
    }
    .unConfirmed-password{
      color: red;
    }

    input{
      padding: 1em 5em 1em 1em;
      background-color: $bg2;
      border-radius: 10px;
      border: none;
    }
    .error-message{
      width: 300px;
      text-overflow: inherit;
      color:red;
      font-size: 0.9rem;
    }
    button{
      background-color: transparent;
      border: none;
      margin-top: 10px;
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
    .reset-btn{
      padding: 0.9em 0;
      width: 300px;
      border: none;
      background-color: $green3;
      color: $bg;
      border-radius: 5px;
      &:hover{
        color: $text1;
      }
    }
}