@import '../variables/_variables.scss';  

.product-details{
  width: 100%;
  margin: 0 auto;
  font-family: $georgia;
  box-sizing: border-box;
  padding: 1rem;

    a {
      text-decoration: none;
    }
    @media (min-width: 900px) {
      width: 850px;
    }
    @media (min-width: 1250px) {
      width: 950px;
      
    }

   .back-btn{
    display:flex;
    margin-top: 3rem;
    margin-left: 0;
    background-color:transparent;
    border:none;
    padding:0 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    .icon{
      margin-top:0.1rem;
    } 
    @media (min-width: 580px) {
      margin-top: 2rem;
      font-size: 0.9rem;
      margin-left:5%;

    }
    @media (min-width: 655px) {
      margin-left:11%;

      .icon{
        margin-top:0;
      }
    }
    
  }

   .product-card {
     padding-bottom: 1.5rem;
     color:  $text1;
     box-shadow: #1B1A17;
     margin: 1rem 0.4rem;
     display:flex;
     flex-direction: column;
     @media (min-width: 580px) {
       margin:2rem;    
       flex-direction: row;
       justify-content: center;
     }
     @media (min-width: 750px) {
       margin: 2rem 4rem;

     }
     @media (min-width: 1250px) {
        margin: 2rem 3rem;
    
      }

     &:hover {
         color: #1B1A17;
     }
     
    .image-container {
        width: 100%;
      @media (min-width: 580px) {
        width: 50%;  
        padding-top: 1.5rem;
      
      }
        img{
          border-radius:16px;
          width:100%;
          height: auto;
          object-fit:cover;
        }
    } 
    
     .qnt-content{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      @media (min-width: 580px) {
        justify-content:flex-start;
        margin-left: 8px;
       
      }
      h3{
        margin-right: 8px;
      }
      .qty-btn{
        text-align: center;
        font-size: 1.8rem;
        line-height: 0.9;
        border-radius: 100%;
        font-weight: 600;
        padding: 0px 6px;
        margin: 1rem 0.8rem;
        background-color: $bg3;
      }
     }

     .body {     
         padding-bottom: 0.5rem;
         padding-left:0.5rem;
         @media (min-width: 580px) {
              margin-left:1.2rem;   
          }
         @media (min-width: 650px) {
            display:flex;
            flex-direction:column;
         }
         .sub-title{
          color: #1B1A17;
          font-weight: 600;
          margin-top: 1.5rem;
          margin-bottom: 5px;
         }
         .p-name{
          text-decoration:none;
          font-size: 1.2rem;
          font-weight: 600;
          margin: 1.2rem 0;
          color:  $text1;
          @media (min-width: 950px) {
          font-size: 1.3rem;
          }
         
         }
         .description{
          display: flex;
          flex-direction: column;
         }
         
         
         .nav-button{
          padding:12px 8px;
          margin-top: 1.5rem;
          background-color: $green5;
          color: $text2;
          font-size: 1.1rem;
          border-radius: 4px;
          width: 100%;
          border: none;

         @media (min-width: 950px) {
            width: 175px;
            font-size: 1.2rem;
          
           }
           
         }
      }

   }
   
}