@import '../variables/_variables.scss';  

.about-us{
   width: 100%;
   padding: 4rem 0rem;
   margin: 2rem auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   @media (min-width: 780px) {
      flex-direction: row;
         
      }
   @media (min-width: 1250px) {
      width: 1170px;
      padding: 4rem;
   }

   .image-container{
     
      margin: auto;
      width: 100%;
      padding: 1rem;
      @media (min-width: 550px) {
      padding: 1rem 3rem;
         
      }
      @media (min-width: 780px) {
         padding:1rem;
         width: 50%;
            
         }
     
         img{
            width: 100%;
            object-fit: cover;
         }
   }

   .text-content{
      padding: 0 1rem;
      font-family: $georgia;
      p{
         font-size: 0.9rem;
         margin-bottom: 1.5rem;
      }

      @media (min-width: 550px) {
         padding: 0 3rem;
         p{
            font-size: 1rem;
         }

      }
      @media (min-width: 780px) {
         padding:0 2rem;
         width: 50%;
         h3{
            font-size: 1.5rem;
         }
         p{
            font-size: 1rem;
         }

      }
      @media (min-width: 1050px) {
         padding:0 2rem;
         width: 50%;
         h3{
            font-size: 1.8rem;
         }
         p{
            font-size: 1.1rem;
         }

      }
      a{
         color: $text2;
         border: none;
         background-color: $green5;
         padding: 0.3rem 2rem;
         text-align: center;
         margin-right: 2rem;
         font-size: 0.9rem;
         border-radius: 23px; 
         align-items: center;
         .icon{
            margin-top: 1rem;
         }
         @media (min-width: 650px) {     
            margin-top: 3rem;
            font-size: 1rem;
            padding: 0.4rem 2.3rem;

         }
         @media (min-width: 950px) {     
           margin-top: 3rem;
           font-size: 1.1rem;
           padding: 0.4rem 2.5rem;
           
        
        }
      }

   }
}