@import './variables/variables'; 

.admin-dashboard{
    padding: 2em;
   
    .admin-navbar{
        display: flex;
        flex-direction: column;
    }
    
    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 4em 0em;
    }

    .admin-tab-button:focus{
        background-color: $green3;
        color: $bg;
    }
    
    .admin-tab-button{
        background-color: $bg;
        color: $green3;
        padding: 0.8em 4.3em 0.8em 4.3em;
        border-radius: 4px;
        border-style: solid;
        border-color: $green3;
        font-family: $georgia;
        font-size:100%;
    }  

    .active-btn{
        background-color: $green3;
        color: $bg;
    }

    h2{
        text-align: center;
        padding: 0.7em 0em;
        font-family: $georgia;
    }

    .results{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: $georgia;
        padding-top: 2em;
    }
}



.orders-tab{
    .dropdown-menu-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;  
        padding-bottom: 1em;
        align-items: center;
    }

    .filter-by{
        display: flex;
    }

    .dropdown-menu{
        // padding-right: 1em;
    }

    label{
        padding-right: 1em;
        font-family: $georgia;
    }

    select{
        background-color: $bg3;
        font-famly: $georgia;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: #AAAAAA;
        font-size: 0.9rem;
        padding: 10px 8px;
        margin-left: 10px;
    }

    .download{
        font-size: 3.2rem;
        margin-left: 0.2em;
        color: #000000;
    }

    table{
        border: 0.5px solid $black2;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            font-family: $georgia;
    }

    tr {
        border: 0.5px solid $black2;
        padding: .35em;

        th,
        td {
            padding: .750em;
            text-align: center;
        }

        th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
            background-color: $bg2;

            @media (min-width: 740px) {
                font-size: .985em;
            }
        }

        td{
            font-size: .85em;

            @media (min-width: 740px) {
                font-size: .985em;
            }
        }

        button{
            background-color: $bg2;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 2.5em;
            padding-right: 2.5em;
            border: none;
        }

        button:hover{
            background-color: $bg;
        }
    }  
}
