@import "./variables/variables";

@media only screen and (min-width: 300px) {
  .footer {
    background-color: $bg4;
    color: $bg;
    padding: 30px;

    p {
      font-weight: bold;
    }

    .goog-te-gadget {
      font-family: arial;
      font-size: 11px;
      color: #666;
      white-space: break-spaces;
    }

    .goog-te-combo:nth-child(2) {
      display: none;
    }

    .skiptranslate:nth-child(2) {
      display: none;
    }
    .google-translate {
      padding-bottom: 1rem;
    }

    .footer > p {
      margin-bottom: 1rem;
    }
  }
}