@import './variables/variables'; 
   
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     a {
      text-decoration: none;
    }
  :root {
      font-size: 1.1rem;
      font-family: $roboto;
      

      @media (min-width: 768px) {
        font-size: 1.1rem;
      }

      @media (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    .page-template{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }