@import './variables/_variables.scss';  


.home{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px;
   background-color: var(bg);
   h1{
      margin-bottom: 1rem;
   }
   
   img {
   display: block;
   max-width: 100%;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   margin-bottom: 50px;
   @media (min-width: 650px) {
      width: 50%;

   }
   }
   p{
   
      font-size: 1.1rem;
      @media (min-width: 750px) {
         font-size: 1rem;
         margin: 0 5rem;

       }
   }
   a{
      color: $text2;
      border: none;
      background-color: $green3;
      padding: 0.8rem;
      width: 100%;
      text-align: center;
      margin-top: 1.5rem;
      @media (min-width: 500px) {
         width: 150px;

      
       }
   }
}