@import "./variables/variables";

@media only screen and (min-width: 300px) {
  .navbar {
    position: relative;
    background-color: $bg4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  h4 {
    color: $bg;
    font-family: $georgia;
    letter-spacing: 0.1rem;
    font-weight: 400;
  }

  .navbar button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  svg {
    stroke: $bg;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: $bg4;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 9;
  }

  .menuNav.showMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    display: block;
    padding: 17px 100px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: $green6;
  }

  .menuNav li:first-child {
    margin-top: 5rem;
  }

  .desktopMenuBar {
    display: none;
  }
}


@media only screen and (min-width: 767px) {
  .navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1.5rem 0rem;
  }

  .desktopMenuBar {
    display: flex;
    padding: 0rem 1rem;
  }

  h4 {
    padding-right: 4rem;
  }

  .mobileMenuBar {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  li {
    padding: 0rem 4rem 0rem 0rem;
    list-style-type: none;
    font-size: x-small;
  }

  li :hover {
    color: $green4;
  }

  nav a {
    padding: 0;
    color: $bg;
  }
}
