@import "./variables/variables";

@media only screen and (min-width: 300px) {
  .navbar {
    position: relative;
    background-color: $bg4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    position: fixed;
    z-index: 999; 
    width: 100%;
  
    h4 {
      font-weight: 600;
      color: $bg;
    }

    h4, nav a {
      font-family: $lato;
      letter-spacing: 0.01rem;
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    svg {
      stroke: $bg;
    }

    .menuNav {
      overflow-y: scroll;
      list-style: none;
      position: fixed;
      top: 0;
      background: $bg4;
      left: 0;
      bottom: 0;
      height: 100vh;
      width: 0;
      overflow: hidden;
      z-index: 9;
    }

    .menuNav.showMenu {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }

    nav a {
      display: block;
      padding: 17px 100px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: $green6;
    }

    .menuNav li:first-child {
      margin-top: 5rem;
    }

    .desktopMenuBar {
      display: none;
    }
  }
}


@media only screen and (min-width: 767px) {
  .navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 0rem;
  
    .desktopMenuBar {
      display: flex;
    }

    h4 {
      padding-right: 6.5rem;
    }

    .mobileMenuBar {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    li {
      padding: 0rem 3rem 0rem 0rem;
      list-style-type: none;
      font-size: medium;
    }

    li :hover {
      color: $green4;
    }

    nav a {
      padding: 0;
      color: $bg;
      font-weight: 200;
    }
  } 
}
